@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.fontGaramond {
  font-family: var(--font-garamond);
}